<div *ngIf="loadingData; else showTable">
  <app-loading></app-loading>
</div>

<ng-template #showTable>
  <div class="crud-container">
    <div class="details">
      <!--  order details list -->
      <div class="recentOrders">
        <div class="cardHeader">
          <h2>Estacionalidades</h2>

          <div class="acciones">
            <!-- <a href="#" class="btn btn-lila">Ver todo</a> -->
            <button
              type="button"
              class="btn btn-celeste"
              (click)="openModal(template)"
            >
              Agregar
            </button>
          </div>
        </div>
        <div class="cardBody">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Temporada</th>
                <th>Fecha</th>
                <th>Hora apertura</th>
                <th>Hora cierre</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estacionalidad of estacionalidades; index as i">
                <th>{{ i + 1 }}</th>
                <td>{{ estacionalidad.temporada }}</td>
                <td>{{ estacionalidad.horarios ? estacionalidad.horarios : "Sin fecha" }}</td>
                <td>{{ estacionalidad.hora_apertura }}</td>
                <td>{{ estacionalidad.hora_cierre }}</td>
                <td>
                  <div class="botones">
                    <button
                      type="button"
                      class="btn btn-naranja"
                      (click)="openModal(template, estacionalidad)"
                    >
                      Modificar
                    </button>
                    <button
                      type="button"
                      class="btn btn-rojo"
                      (click)="delete(estacionalidad)"
                    >
                      Eliminar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <ng-template #template>
        <div class="modal-header colorheader">
          <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
          <button
            type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            (click)="modalRef?.hide()"
          >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body colorBody">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Temporada:</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Temporada"
              [formControl]="temporada"
            />
            <small *ngIf="temporada.errors?.required && errores"
              ><b>Temporada requerida</b></small
            >
            <small *ngIf="temporada.errors?.maxlength && errores"
              ><b>Este campo no debe superar los 50 caracteres</b></small
            >
            <small *ngIf="temporada.errors?.pattern && errores"
              ><b>Caracteres Inválidos</b></small
            >
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Fecha:</label>
            <input
              type="date"
              class="form-control"
              placeholder="Horario"
              [formControl]="horario"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Hora apertura:</label>
            <input
              type="time"
              class="form-control"
              placeholder="Horario"
              [formControl]="hora_apertura"
            />
            <small *ngIf="hora_apertura.errors?.required && errores"
              ><b>Hora apertura requerida</b></small
            >
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Hora cierre:</label>
            <input
              type="time"
              class="form-control"
              placeholder="Horario"
              [formControl]="hora_cierre"
            />
            <small *ngIf="hora_cierre.errors?.required && errores"
              ><b>Hora cierre requerida</b></small
            >
          </div>
        </div>
        <div class="modal-footer">
          <div class="contenedor-boton">
            <button type="button" class="btn btn-celeste" (click)="save()">
              {{ btnTitle }}
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
