<div class="crud-container">
  <div class="details">
    <!--  order details list -->
    <div class="recentOrders">
      <div class="cardHeader">
        <h2>Secciones</h2>
        
        <div class="acciones">
          <!-- <a href="#" class="btn btn-lila">Ver todo</a> -->
          <button type="button" class="btn btn-celeste" (click)="openModal(template)">Agregar</button>
        </div>
      </div>
      <div class="cardBody">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Foto</th>
              <th>Video</th>
              <th>Link</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let seccion  of secciones; index as i">
              <th>{{ i+1 }}</th>
              <td>{{ seccion.nombre }}</td>
              <td width="350">{{ seccion.descripcion }}</td>
              <td><img src="{{ seccion.foto }}" width="200px" alt="Imagen"></td>
                <td><video src="{{ seccion.videos }}" width="250px" alt="Video" controls></video></td>
              <td>{{ seccion.links }}</td>
              <td>
                <div class="botones">
                  <button type="button" class="btn btn-naranja" (click)="openModal(template,seccion)">Modificar</button>
                  <button type="button" class="btn btn-rojo"(click)="delete(seccion)">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #template>
      <div class="modal-header colorheader">
        <h4 class="modal-title pull-left">{{ modalTitle }}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body colorBody">
    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre:</label>
          <input type="text" class="form-control" placeholder="Nombre" [formControl]="nombre">
          <small *ngIf="nombre.errors?.required && errores"><b>Nombre requerido</b></small>
          <small *ngIf="nombre.errors?.maxlength && errores"><b>Este campo no debe superar los 50 caracteres</b></small>
          <small *ngIf="nombre.errors?.pattern && errores"><b>Caracteres Inválidos</b></small>
        </div>
    
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Descripcion:</label>
          <textarea type="text" class="form-control"  placeholder="Descripcion" [formControl]="descripcion" rows="5"></textarea>
          <small *ngIf="descripcion.errors?.required && errores"><b>Descripcion requerida</b></small>
          <small *ngIf="descripcion.errors?.maxlength && errores"><b>Este campo no debe superar los 200 caracteres</b></small>
          <small *ngIf="descripcion.errors?.pattern && errores"><b>Caracteres Inválidos</b></small>
        </div>

        <div class="mb-3 modal-file">
          <label for="exampleInputEmail1" class="form-label">Imágen:</label>
          <input type="file" (change)="onChange($event)" class="form-control"  placeholder="Ingrese una foto" [formControl]="foto">
          <small *ngIf="foto.errors?.required && errores"><b>Imágen requerida</b></small>
          <img class="modal-img" *ngIf="myImage" [src]="myImage" alt="Imagen">
      </div>

      <div class="mb-3 modal-file">
          <label for="exampleInputEmail1" class="form-label">Video:</label>
          <input type="file" (change)="onChangeVideo($event)" class="form-control"  placeholder="Ingrese un video" [formControl]="videos">
          <small *ngIf="videos.errors?.required && errores"><b>Video requerido</b></small>
          <video class="modal-img" *ngIf="myVideo" [src]="myVideo" alt="Video" controls></video>
      </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Link:</label>
          <input type="text" class="form-control"  placeholder="Link" [formControl]="links">
          <small *ngIf="links.errors?.required && errores"><b>Link requerido</b></small>
          <small *ngIf="links.errors?.maxlength && errores"><b>Este campo no debe superar los 100 caracteres</b></small>
          <small *ngIf="links.errors?.pattern && errores"><b>Caracteres Inválidos</b></small>
        </div>
      </div>
      <div class="modal-footer">
        <div class="contenedor-boton">
          <button type="button" class="btn btn-celeste" (click)="save()">{{ btnTitle }}</button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
