<div class="backim">
  <img src="assets/images/cristo.png" alt="" srcset="" />
  <a href="#" class="txt2-button">Cerro San Pedro</a>
  <div class="borde"></div>
  <div class="contgri">
    <div class="card1">
      <div class="circle"></div>
      <div class="content">
        <h2>Descripción</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ab,
          commodi iusto, excepturi distinctio quam architecto repellat, soluta
          expedita eligendi reiciendis voluptates. Iure ad qui at animi
          exercitationem, velit odit accusantium similique nisi provident ipsam
          labore accusamus ipsum delectus aut sint magni voluptatum iusto
          eveniet adipisci. Itaque quis excepturi deleniti.
        </p>
      </div>
      <img src="assets/images/book-open-solid.svg" alt="" />
    </div>

    <div class="card1">
      <div class="circle"></div>
      <div class="content">
        <h2>Actividades</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ab,
          commodi iusto, excepturi distinctio quam architecto repellat, soluta
          expedita eligendi reiciendis voluptates. Iure ad qui at animi
          exercitationem, velit odit accusantium similique nisi provident ipsam
          labore accusamus ipsum delectus aut sint magni voluptatum iusto
          eveniet adipisci. Itaque quis excepturi deleniti.
        </p>
      </div>
      <img src="assets/images/calendar-days-solid.svg" alt="" />
    </div>
    <div class="card1">
      <div class="circle"></div>
      <div class="content">
        <h2>Horarios</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ab,
          commodi iusto, excepturi distinctio quam architecto repellat, soluta
          expedita eligendi reiciendis voluptates. Iure ad qui at animi
          exercitationem, velit odit accusantium similique nisi provident ipsam
          labore accusamus ipsum delectus aut sint magni voluptatum iusto
          eveniet adipisci. Itaque quis excepturi deleniti.
        </p>
      </div>
      <img src="assets/images/clock-solid.svg" alt="" />
    </div>
  </div>
</div>
