<div class="backim">
  <div class="borde"></div>
  <img src="assets/images/Imagen11.png" alt="" srcset="" />
  <!--   <a href="restaurants" class="txt2-button"
      >Turismo gastronómico <br />
      <h2>Restaurantes</h2>
    </a> -->

  <div class="msgBackim">
    <h2>Turismo Naranja</h2>
    <p>Aprender - Alfarería</p>
  </div>
</div>

<!-- Cards Section Starts -->
<section class="category">
  <div class="box-container">
    <div class="box">
      <img src="assets/images/category-1.jpg" alt="" />
      <div class="container-btn">
        <a href="#" class="btn">Turismo patrimonial</a>
      </div>
    </div>

    <div class="box">
      <img src="assets/images/category-2.jpg" alt="" />
      <div class="container-btn">
        <a href="#" class="btn">Turismo natural</a>
      </div>
    </div>
  </div>
</section>
<!-- Cards Section Ends -->
