<div class="backim">
  <div class="borde"></div>
  <img src="assets/images/Imagen11.png" alt="" srcset="" />
  <!--   <a href="restaurants" class="txt2-button"
    >Turismo gastronómico <br />
    <h2>Restaurantes</h2>
  </a> -->

  <div class="msgBackim" (click)="onClickhistoria($event)">
    <h2>Información Turística</h2>
    <p>Historia</p>
  </div>
</div>

<!-- Cards Section Starts -->
<section class="category">
  <div class="box-container">
    <div class="box">
      <img src="assets/images/category-1.jpg" alt="" />
      <div class="container-btn">
        <a href="#" class="btn">Geografía</a>
      </div>
    </div>

    <div class="box">
      <img src="assets/images/category-2.jpg" alt="" />
      <div class="container-btn">
        <a href="#" class="btn">Información Político Administrativa</a>
      </div>
    </div>
  </div>
</section>
<!-- Cards Section Ends -->
