<div class="crud-container">
    <div class="details">
        <!--  order details list -->
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>Datos Recientes</h2>
          </div>
          <table>
            <thead>
              <tr>
                <td>Nombre</td>
                <td>Costo</td>
                <td>En espera</td>
                <td>Estado</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Refrigerator</td>
                <td>$1200</td>
                <td>Paid</td>
                <td><span class="status delivered">Delivered</span></td>
              </tr>
    
              <tr>
                <td>Window Coolers</td>
                <td>$110</td>
                <td>Due</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
    
              <tr>
                <td>Speakers</td>
                <td>$620</td>
                <td>Paid</td>
                <td><span class="status return">Return</span></td>
              </tr>
    
              <tr>
                <td>Hp Laptop</td>
                <td>$110</td>
                <td>Due</td>
                <td><span class="status inprogress">In Progress</span></td>
              </tr>
    
              <tr>
                <td>Apple Watch</td>
                <td>$1200</td>
                <td>Paid</td>
                <td><span class="status delivered">Delivered</span></td>
              </tr>
    
              <tr>
                <td>Wall Fan</td>
                <td>$110</td>
                <td>Paid</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
    
              <tr>
                <td>Adidas Shoes</td>
                <td>$620</td>
                <td>Paid</td>
                <td><span class="status return">Return</span></td>
              </tr>
    
              <tr>
                <td>Denim Shirts</td>
                <td>$110</td>
                <td>Due</td>
                <td><span class="status inprogress">In Progress</span></td>
              </tr>
    
              <tr>
                <td>Casual Shoes</td>
                <td>$575</td>
                <td>Paid</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
    
              <tr>
                <td>Wall Fan</td>
                <td>$110</td>
                <td>Paid</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
    
              <tr>
                <td>Denim Shirts</td>
                <td>$110</td>
                <td>Due</td>
                <td><span class="status inprogress">In Progress</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--  New Customers -->
        <div class="recentCustomers">
          <div class="cardHeader">
            <h2>Administradores</h2>
          </div>
          <table>
            <tr>
              <td width="60px">
                <div class="imgBx">
                  <img src="../../../../assets/images/img1.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Jomar<br /><span>Italy</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img2.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Oscar<br /><span>India</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img3.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Michelle<br /><span>France</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img4.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Michelle<br /><span>USA</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img5.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Mauricio<br /><span>Japan</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img6.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Andrés<br /><span>India</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img7.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Michelle<br /><span>Malaysia</span></h4>
              </td>
            </tr>
    
            <tr>
              <td>
                <div class="imgBx">
                  <img src="../../../../assets/images/img8.jpg" alt="" />
                </div>
              </td>
              <td>
                <h4>Jomar<br /><span>India</span></h4>
              </td>
            </tr>
          </table>
        </div>
      </div>
</div>