<div class="backim">
  <div class="filtro"></div>
  <img src="assets/images/Pique_macho.png" alt="" srcset="" />
  <div class="container-txt-btn">
    <i class="fa-solid fa-hand-holding-medical"></i>
    <h1 class="titulo">Salud</h1>
  </div>
</div>
<!-- Cards Section Starts -->
<section class="category">
  <div class="empty" *ngIf="data.length == 0">
    Por ahora no tenemos datos en este apartado
  </div>
  <div class="box-container">
    <div class="box">
      <img src="assets/images/salud/hospital.JPG" alt="" />
      <h3></h3>
      <a [routerLink]="['/hospitales']" class="btn">Hospitales</a>
    </div>

    <div class="box">
      <img src="assets/images/salud/postas.jpg" alt="" />
      <h3></h3>
      <a [routerLink]="['/postas']" class="btn">Postas</a>
    </div>

    <div class="box">
      <img src="assets/images/salud/clicnica.png" alt="" />
      <h3></h3>
      <a [routerLink]="['/clinicas']" class="btn">Clinicas</a>
    </div>
  </div>
</section>
<!-- Cards Section Ends -->
