.backim {
  width: 100%;
  height: calc(100dvh - 52px);
  padding: 0px 0px;
  position: relative;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.backim::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  background: linear-gradient(0deg, rgba(71, 40, 120, 1) 3%, transparent 25%);
  /* PARA QUE NO SE VEA UNA LINEA FEA EN EDGE */
  transform: translateY(1px);
}

.backim img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-txt-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.txt2-button {
  font-size: 7rem;
  text-decoration: none;
  font-family: "Arciform", sans-serif;
  color: white;
  background: #009878;
  border-radius: 0.25em;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  user-select: none;
}
@media (max-width: 726px) {
  .txt2-button {
    font-size: 6rem;
    width: 600px;
  }
}

@media (max-width: 628px) {
  .txt2-button {
    font-size: 5rem;
    width: 500px;
  }
}

@media (max-width: 628px) {
  .txt2-button {
    font-size: 4rem;
    width: 400px;
  }
}

@media (max-width: 414px) {
  .txt2-button {
    font-size: 3rem;
    width: 300px;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #57428d;
  color: #fff;
  cursor: pointer;
  background: none;
  font-size: 2rem;
  padding: 1rem 3rem;
  background-color: #57428d;
  font-family: "Arciform", sans-serif;
}
.btn:hover {
  background: rgb(74, 193, 224);
  color: #fff;
}

.category .box-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 6rem;
}
@media (max-width: 840px) {
  .category .box-container {
    gap: 1rem;
  }
}
@media (max-width: 780px) {
  .category .box-container {
    grid-template-columns: auto;
  }
}
.category .box-container .box {
  text-align: center;
  padding: 1rem;
}
.category .box-container .box img {
  height: 50rem;
  width: 30rem;
  border-radius: 50px;
  margin-bottom: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
  border: 3px solid white;
}
.category .box-container .box h3 {
  font-size: 2rem;
  color: rgb(74, 193, 224);
}
.category .box-container .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.empty {
  text-align: center;
  font-size: 46px;
  min-height: 100px;
  color: #fff;
  font-weight: bold;
  line-height: 90%;
  line-height: 46px;
  padding: 20px;
  font-family: "Arciform", sans-serif;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 625px) {
  .empty {
    font-size: 36px;
  }
}

.center-calendars {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendars-container {
  max-width: calc(1125px + 8rem);
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

#text {
  scroll-margin: 85px;
}