<div class="backim">
  <img src="assets/images/home-bg-4.png" alt="" srcset="" />
  <div class="container-txt-btn">
    <a href="#" class="txt2-button">Aniversario de Cochabamba</a>
  </div>

</div>
<div class="infosec">
  <div class="content">
    <div class="subtitle_cont">
      <i class="fa-solid fa-book-open"></i>
      <h2>Descripción</h2>
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel dignissimos,
      earum vitae reiciendis qui eum est tempora voluptatum pariatur? Facere.
    </p>
    <div class="subtitle_cont">
      <i class="fa-solid fa-lightbulb"></i>
      <h2>Curiosidades</h2>
    </div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates
      provident unde quaerat nobis tempore fugit nam voluptas quidem eum
      ducimus!
    </p>
    <div class="subtitle_cont">
      <i class="fa-solid fa-calendar-days"></i>
      <h2>Actividades</h2>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime autem
      nisi laborum sed molestias sapiente fugit, magni earum reiciendis
      doloribus!
    </p>
  </div>
</div>
