<div class="backim">
  <div class="filtro"></div>
  <img src="assets/images/Pique_macho.png" alt="" srcset="" />
  <div class="container-txt-btn">
    <i class="fa-solid fa-utensils"></i>
    <h1 class="titulo">Alimentación</h1>
  </div>
</div>
<!-- Cards Section Starts -->
<section class="category">
  <div class="box-container">
    <div class="box">
      <img src="assets/images/restaurantes.png" alt="" />
      <h3></h3>
      <a [routerLink]="['/restaurantesii']" class="btn">Restaurantes</a>
    </div>

    <div class="box">
      <img src="assets/images/cafepub.png" alt="" />
      <h3></h3>
      <a [routerLink]="['/cafe-pubs']" class="btn">Café / Pub</a>
    </div>

    <div class="box">
      <img src="assets/images/peñas.png" alt="" />
      <h3></h3>
      <a [routerLink]="['/peñas']" class="btn">Peñas</a>
    </div>

    <div class="box">
      <img src="assets/images/comedorpublico.png" alt="" />
      <h3></h3>
      <a [routerLink]="['/comedores-populares']" class="btn"
        >Comedores Populares</a
      >
    </div>
  </div>
</section>
<!-- Cards Section Ends -->
