<!-- Cards Section Starts -->
<a href="#" class="txt1-button">Restaurantes</a>
<!-- <section class="category">
  <div class="box-container">
    <div class="box">
        <img src="assets/images/category-1.jpg" alt="" />
        <div class="res_content">
          <a href="#">Miraflores</a>
          <h3>Horarios</h3>
          <h3>Información</h3>
          <h3>Actividades</h3>
        </div>
    </div>
    
    <div class="box">
      <img src="assets/images/category-2.jpg" alt="" />
      <div class="res_content">
        <a href="#">Miraflores</a>
        <h3>Horarios</h3>
        <h3>Información</h3>
        <h3>Actividades</h3>
      </div>
    </div>
  </div>
</section> -->

<div class="contenedor">
  <div class="game">
    <div class="front">
      <img src="assets/images/dsmom.jpg" alt="game" />
      <h3 class="name">Miraflores</h3>
    </div>
    <div class="backgroundWrapper">
      <div class="back">
        <div class="streaming-info">
          <div class="subcont">
            <img src="assets/images/clock-solid.svg" alt="" />
            <h2>Horarios</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/circle-info-solid.svg" alt="" />
            <h2>Información</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/calendar-days-solid.svg" alt="" />
            <h2>Actividades</h2>
          </div>
          <a href="#">Ver Menú</a>

          <div class="subcont">
            <img src="assets/images/location-dot-solid.svg" alt="" />
            <h2>Ubicación</h2>
          </div>
          <p>
            <a href="#">hole</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="game">
    <div class="front">
      <img src="assets/images/dsmom.jpg" alt="game" />
      <h3 class="name">Miraflores</h3>
    </div>
    <div class="backgroundWrapper">
      <div class="back">
        <div class="streaming-info">
          <div class="subcont">
            <img src="assets/images/clock-solid.svg" alt="" />
            <h2>Horarios</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/circle-info-solid.svg" alt="" />
            <h2>Información</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/calendar-days-solid.svg" alt="" />
            <h2>Actividades</h2>
          </div>
          <a href="#">Ver Menú</a>

          <div class="subcont">
            <img src="assets/images/location-dot-solid.svg" alt="" />
            <h2>Ubicación</h2>
          </div>
          <p>
            <a href="#">hole</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="game">
    <div class="front">
      <img src="assets/images/dsmom.jpg" alt="game" />
      <h3 class="name">Miraflores</h3>
    </div>
    <div class="backgroundWrapper">
      <div class="back">
        <div class="streaming-info">
          <div class="subcont">
            <img src="assets/images/clock-solid.svg" alt="" />
            <h2>Horarios</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/circle-info-solid.svg" alt="" />
            <h2>Información</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/calendar-days-solid.svg" alt="" />
            <h2>Actividades</h2>
          </div>
          <a href="#">Ver Menú</a>

          <div class="subcont">
            <img src="assets/images/location-dot-solid.svg" alt="" />
            <h2>Ubicación</h2>
          </div>
          <p>
            <a href="#">hole</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="game">
    <div class="front">
      <img src="assets/images/dsmom.jpg" alt="game" />
      <h3 class="name">Miraflores</h3>
    </div>
    <div class="backgroundWrapper">
      <div class="back">
        <div class="streaming-info">
          <div class="subcont">
            <img src="assets/images/clock-solid.svg" alt="" />
            <h2>Horarios</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/circle-info-solid.svg" alt="" />
            <h2>Información</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/calendar-days-solid.svg" alt="" />
            <h2>Actividades</h2>
          </div>
          <a href="#">Ver Menú</a>

          <div class="subcont">
            <img src="assets/images/location-dot-solid.svg" alt="" />
            <h2>Ubicación</h2>
          </div>
          <p>
            <a href="#">hole</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="game">
    <div class="front">
      <img src="assets/images/dsmom.jpg" alt="game" />
      <h3 class="name">Miraflores</h3>
    </div>
    <div class="backgroundWrapper">
      <div class="back">
        <div class="streaming-info">
          <div class="subcont">
            <img src="assets/images/clock-solid.svg" alt="" />
            <h2>Horarios</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/circle-info-solid.svg" alt="" />
            <h2>Información</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>

          <div class="subcont">
            <img src="assets/images/calendar-days-solid.svg" alt="" />
            <h2>Actividades</h2>
          </div>
          <a href="#">Ver Menú</a>

          <div class="subcont">
            <img src="assets/images/location-dot-solid.svg" alt="" />
            <h2>Ubicación</h2>
          </div>
          <p>
            <a href="#">hole</a>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cards Section Ends -->
