<div class="backim">
  <img src="assets/images/cristo.png" alt="" srcset="" />
  <div class="container-txt2">
    <a href="lugar_turistico" class="txt2-button">Cristo de la concordia</a>
  </div>
</div>

<!-- Cards Section Starts -->
<section class="category">
  <div class="box-container">
    <div class="box" *ngFor="let atractivo of atractivos">
      <img src="{{ atractivo.imagen }}" alt="" />
      <a href="{{ publicUrlVR + atractivo.id }}" target="_blank" class="btn">{{
        atractivo.nombre
      }}</a>
    </div>
  </div>
</section>
<!-- Cards Section Ends -->
