<!-- Footer Section Starts -->
<section class="footer">
  <div class="footlogo">
    <img src="assets/images/firmab.png" alt="" />
  </div>
  <hr class="linea" />
  <div class="box-container">
    <div class="box">
      <p ><i class="fa-solid fa-house"></i> Dirección de Turismo</p>
      <p 
        ><i class="fa-solid fa-house"></i> Secretaría de Desarrollo Productivo,
        Turismo y Cultura</p
      >
      <p 
        ><i class="fa-solid fa-house"></i> Gobierno Autónomo Municipal de
        Cochabamba</p
      >
      <p 
        ><i class="fa-solid fa-location-dot"></i> Oficina central: Plaza 14 de
        Septiembre #210, acera oeste.</p
      >
      <p
        ><i class="fas fa-phone"></i> Centro de Atención Virtual al Ciudadano
        151</p
      >
      <p><i class="fa-solid fa-house"></i> TELF: 4662277 INT: 4419</p>
    </div>

    <div class="box2">
      <h3>Siguenos en:</h3>
      <a href="https://www.facebook.com/gamcochabamba" target="_blank"
        ><img src="assets/images/facebook.svg" alt=""
      /></a>
      <a href="https://twitter.com/gam_cochabamba" target="_blank"
        ><img src="assets/images/twitter.svg" alt=""
      /></a>
      <a href="https://www.instagram.com/cochabambaciudad/?hl=es" target="_blank"
        ><img src="assets/images/instagram.svg" alt=""
      /></a>
      <a href="https://www.youtube.com/@alcaldiadecochabamba4900" target="_blank"
        ><img src="assets/images/youtube.svg" alt=""
      /></a>
      <a href="https://www.tiktok.com/@alcaldiadecochabamba" target="_blank"
        ><img src="assets/images/tiktok.svg" alt=""
      /></a>
      <a href="https://www.linkedin.com/company/gamcochabamba/" target="_blank"
        ><img src="assets/images/linkedin.svg" alt=""
      /></a>
    </div>
  </div>
  <hr class="linea2" />

  <div class="credit">
    <i class="fa-regular fa-copyright"></i> Derechos reservados | Gobierno
    Autónomo Municipal de Cochabamba 2022
  </div>
</section>
<!-- Footer Section Ends -->
